$--content-width = 98%
$--sidebar-width = 15rem

$--base-font-size = .95rem

$--color-white = #fff
$--color-black = #000
$--color-primary = #3884FF
$--color-success = #09bb07
$--color-warning = #faa918
$--color-danger = #ed4014
$--color-info = #8c99a5

$--color-text-primary = #3884FF
$--color-text-regular = #606266
$--color-text-secondary = #909399
$--color-text-placeholder = #c0c4cc
$--color-background = #f6f7f8
$--border-color-base = #dcdfe6
$borderColor = #e5e5e5
$nprogressColor = $--color-primary
$accentColor = $--color-info
