.table-of-contents
  border-left 1px solid $borderColor
  position: fixed;
  right: 0
  font-size .8rem
  top 5rem
  width 10rem
  margin-top -2rem
  height 100%
  background #fafafa
  a
    color rgba(0,0,0,.5)
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding .5rem 0 .5rem 1rem
    &:hover
      color $--color-primary
  ul,li
    list-style-type none
    padding 0
    margin 0
  ul
    padding-top 1.5rem
    ul
      padding-top 0
      padding-left 0.5rem
     a
      padding-left 0.8rem
      font-size .75rem
  .badge
    vertical-align middle
.custom-ad
  width 10rem
  position: fixed;
  right .5rem
  img
    display block
    width 100%
